
# BEGIN WordPress
<IfModule mod_rewrite.c>
RewriteEngine On
RewriteBase /~motolojavirtual/
RewriteRule ^index\.php$ - [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /~motolojavirtual/index.php [L]
</IfModule>
AddHandler application/x-httpd-php53 .php
# END WordPress